p {
    color : red ;
    font-weight : bold ;
}

#mokiti{ width : 1000% }

.chiba{margin : 0 ;}
.chiba-drag { padding : 0 ;}

.text {
    color: blue;
    font-weight: 400;
}
.text-yellow {
    color:#00FF00;
    font-style:oblique;
}
.text-rgb-moki {
    color:rgb(255,0,0);
    text-decoration:underline;
}