p {
    color : red ;
    font-weight : bold ;
}

#mokiti{ width : 1000% }

.chiba{margin : 0 ;}
.chiba-drag { padding : 0 ;}

.text { color: blue}
.text-yellow {color: 00FF00}
.text-rgb-moki {rgb(255,0,0)}